body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

.map {
	height: 100%;
	background-color: yellow;
	cursor: pointer;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#overlay {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 2;
}

#overlay-container {
	min-height: 200px; 
	height: 300px; 
	max-height: 300px;
	min-width: 200px; 
	max-width: 300px; 
	margin: 25vh auto; 
	background-color: #ccc;
}

.button-container {
	height: 60px; 
	min-width: 160px; 
	max-width: 180px; 
	background-color: #eee; 
	border-radius: 3px; 
	border-color: blue; 
	border-width: 10px; 
	text-decoration: none; 
	margin-left: auto; 
	margin-right: auto; 
	padding-top: 15px; 
	padding-left: 15px; 
	padding-right: 15px; 
	text-align: center;
}

.button-container-a {
	height: 60px; 
	min-width: 160px; 
	max-width: 180px; 
	background-color: #eee; 
	border-radius: 3px; 
	border-color: blue; 
	border-width: 10px; 
	text-decoration: none; 
	margin-left: auto; 
	margin-right: auto; 
	position: relative; 
	top: 160px; 
	padding-top: 15px; 
	padding-left: 15px; 
	padding-right: 15px; 
	text-align: center;
}

#outcome-container {
	min-width: 160px; 
	max-width: 180px; 
	word-wrap: break-word; 
	margin-left: auto; 
	margin-right: auto; 
	position: relative; 
	top: 40px; 
	background-color: #eee; 
	color: #444; 
	padding: 4px; 
	text-align: center;
}

.min {
	margin: 20px auto;
	flex-grow: 0;
	cursor: pointer;
}