<html>
<head>
    <meta charset="utf-8">
    <meta name="author" content="Christopher Cockburn">
    <meta name="description" content="GeoFind Simple Map Game">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>GeoFind</title>
	<link rel="stylesheet" href="/../assets/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</html>


<body>
    <nav class="navbar navbar-light navbar-expand bg-light navigation-clean">
        <div class="container">
            <a class="navbar-brand" href="/">GeoFind</a>
            <button class="navbar-toggler" data-toggle="collapse"></button>
        </div>
    </nav>

	<section class="text-center bg-light" style="padding: 40px;">
		<h1>404 Error</h1>
		<h2>Page requested not found!</h2>
	</section>

    <section class="text-center bg-light" style="padding: 40px;">
     <a href="/">
        <div class="button-container">
          Start New Game
        </div>
      </a>
    </section>
</body>
</html>