<html>
<head>
    <meta charset="utf-8">
    <meta name="author" content="Christopher Cockburn">
    <meta name="description" content="GeoFind Simple Map Game">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>GeoFind</title>
    <link rel="stylesheet" href="/../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand bg-light navigation-clean">
        <div class="container">
          <a class="navbar-brand" href="/">GeoFind</a>
          <button class="navbar-toggler" data-toggle="collapse"></button>
        </div>
    </nav>
    <header class="masthead text-white text-center" style="background:url('assets/img/bg-masthead.jpg')no-repeat center center;background-size:cover;">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-8 offset-xl-4 mx-auto">
                    <h1>Welcome to GeoFind</h1>
                    <p>Can you win?</p>
                </div>
            </div>
        </div>
    </header>
    <section class="showcase"></section>
    <section class="testimonials text-center bg-light">
        <div class="container">
            <h2 class="mb-5">Pick a location</h2>
            <div class="row">
                <div class="col">
          <div style="height: 500px; width: auto; margin: 40px;">
            <div id="set_location_map" class="map"></div>
          </div>
                </div>
            </div>
        </div>
    </section>
    <section class="testimonials text-center bg-light">
        <div class="container">
            <h2 class="mb-5">Which map is closer to your location?</h2>
            <div class="row">
                <div class="col min">
                    <div id="option_1" onclick="on(this.id);" style="height: 400px; width: 400px;">
                        <div id="map1" class="map"></div>
                    </div>
                </div>
                <div class="col min">
                    <div id="option_2" onclick="on(this.id);" style="height: 400px; width: 400px;">
                        <div id="map2" class="map"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="text-center bg-light" style="padding: 40px;">
     <a href="/">
        <div class="button-container">
          Start New Game
        </div>
      </a>
    </section>

    <div id="overlay" onclick="off();">
      <div id="overlay-container">
        <div id="outcome-container">
          <div id="outcome_box" style="position: relative;">
          </div>
        </div>

        <a href="/">
          <div class="button-container-a">
          Start New Game
        </div>
        </a>
      </div>
    </div>
    <script src="/javascripts/script.js"></script> 
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=[GOOGLE_API_KEY]&callback=initMap" async defer></script>
</body>

</html>